<!doctype html>
<html>
<head>
    <title>Quote Machine - Error</title>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

<% include nav.ejs %>

    <h1>Error</h1>
    
    <p><%= error.message %></p>

</div>
</body>
</html>