<!doctype html>
<html>
<head>
    <title>Quote Machine - Import</title>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

<% include nav.ejs %>

    <div class="row">

        <div id="interface" class="col-sm-12 well text-center">

            <button id="pickerButton">Pick!</button>

            <button id="resetButton">Reset</button>

            <div id="timerOutput">

        
            </div>

            <br />

            <button id="pauseResume">Pause Timer</button>

        </div>

    </div>

    <div class="row">

        <div id="activeList" class="col-sm-2 well text-center">

        </div>

        <div id="output" class="col-sm-8 text-center">

            <img src="loading.gif" alt="loading">
            <p>Maybe it worked?</p>

        </div>

        <div id="removedList" class="col-sm-2 well text-center">

        </div>

    </div>

</div>
</body>
</html>