<!doctype html>
<head>
    <title>Polymer Template</title>
    
    <meta charset="utf-8">
    
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/polymerstyles.css">
    
    <!--Polymer-->
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    
    <!--Polymer Catalog Components-->
    <link rel="import" href="/bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
    <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
    <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="/bower_components/paper-card/paper-card.html">
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    
</head>
<body>
    
    <!--Header-->
    <paper-header-panel main>

        <paper-toolbar>

            <div>Random User Movie Quote</div>

        </paper-toolbar>
        
    </paper-header-panel>

    <!--REAL BODY-->
    <div>

        <paper-card class="loginForm" heading="Login">

            <div class="card-content">

                <form is="iron-form" id="login" method="post" action="/login">

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>

                    <div class="alert alert-danger"><%= message %></div>

                <% } %>

                    <paper-input label="email" name="email"></paper-input>

                    <paper-input label="password" type="password" name="password"></paper-input>

                </form>

            </div>

            <div class="card-actions">

                <a href="/signup">Sign Up</a>
                
                <paper-button raised onclick="submitForm()">Login</paper-button>
                
            </div>

        </paper-card>

    </div>

</body>

<script>

function submitForm()
{
    
  document.getElementById('login').submit();

}

</script>

</html>