<!doctype html>
<head>
    <title>Random People Picker</title>
    
    <meta charset="utf-8">
    
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/polymerstyles.css">
    
    <!--Polymer-->
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>

    <!--Custom Components-->
    <link rel="import" href="custom_components/app-frame.html">
    
</head>
<body>
    
    <app-frame username="<%= user.name %>" picture="<%= user.picture %>" submissions="<%= user.submissions %>" email="<%= user.email %>"></app-frame>
       
</body>
</html>