    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <div class="btn-group-justified">
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/add" class="btn btn-default btn-sm">Add A Quote</a>
            <a href="/profile" class="btn btn-default btn-sm">Profile</a>
            <a href="/picker" class="btn btn-default btn-sm">Picker</a>
        </div>
    </div>