<!doctype html>
<head>
    <title>Polymer Template</title>
    
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
    <link rel="import" href="/bower_components/webcomponentsjs/webcomponents.js">
    <link rel="import" href="/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
    
</head>
<body>
    
  <paper-scroll-header-panel fixed>

    <paper-toolbar>

      <paper-icon-button icon="arrow-back"></paper-icon-button>
      <div class="spacer title">Title</div>
      <paper-icon-button icon="search"></paper-icon-button>
      <paper-icon-button icon="more-vert"></paper-icon-button>

    </paper-toolbar>

    <div class="content">

      <sample-content size="100"></sample-content>

    </div>

  </paper-scroll-header-panel>
    
</body>
</html>