<!doctype html>
<head>
    <title>Polymer Template</title>
    
    <meta charset="utf-8">
    
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/polymerstyles.css">
    
    <!--Polymer-->
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    
    <!--Polymer Catalog Components-->
    <link rel="import" href="/bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
    <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
    <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="/bower_components/paper-card/paper-card.html">
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    
</head>
<body>
    
    <!--Header-->
    <paper-header-panel main>

        <paper-toolbar>

            <div>Random User Movie Quote</div>

        </paper-toolbar>
        
    </paper-header-panel>

    <!--REAL BODY-->
    <div>

        <paper-card class="loginForm">

            <paper-header-panel class="flex">
                
                <paper-toolbar>
                    
                    <div>Sign Up</div>
                
                </paper-toolbar>
  
            </paper-header-panel>
            
            <div class="card-content">

                <form is="iron-form" id="signup" method="post" action="/signup">

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>

                    <div class="alert alert-danger"><%= message %></div>

                <% } %>
                    
                    <paper-input label="name" name="name"></paper-input>

                    <paper-input allowedpatterns="" label="email" name="email"></paper-input>

                    <paper-input label="password" type="password" name="password"></paper-input>
                    
                    <paper-input label="password again" type="password" name="passwordAgain"></paper-input>

                </form>

            </div>

            <div class="card-actions">
                
                <paper-button raised onclick="submitForm()">Sign Up</paper-button>
                
                <a href="/">Login</a>
                
            </div>

        </paper-card>

    </div>

</body>

<script>

function submitForm()
{
    
  document.getElementById('signup').submit();

}

</script>

</html>