<!doctype html>
<html>
<head>
    <title>Quote Machine - New Account</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script defer="defer" src="javascripts/signupvalidate.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <p>All fields are required.</p>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form id="signup" action="/signup" method="post">

        <div class="form-group">
            <label>Name</label>
            <input id="name" type="text" class="form-control" name="name"> <div id="nameError"></div>
        </div>

        <div class="form-group">
            <label>Email. You will use this to login.</label>
            <input type="email" class="form-control" name="email" id="email"> <div id="emailError"></div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" id="password"> <div id="passwordError"></div>
            <label>Verify Password</label>
            <input type="password" class="form-control" name="passwordAgain" id="passwordAgain">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already Signed Up? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>